@use 'base' as b;

.hourly {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 0 1rem 1rem;
  background-color: b.$primary-color;
  border-radius: 15px;
  border: 1px solid b.$tertiary-color;
  padding: b.rem(8) b.rem(24) 0 b.rem(24);
  position: relative;

  @include b.media-md {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }

  // }

  &__heading {
    color: b.$primary-text-color;
    font-size: b.rem(20);
    font-weight: 600;
    margin-bottom: b.rem(18);
  }

  &__entries {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: b.rem(12);
    align-items: center;
    // justify-content: space-between;
    width: 100%;
    margin-bottom: b.rem(12);

    @include b.media-md {
      padding: b.rem(4) b.rem(4) b.rem(16) b.rem(4);
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      scrollbar-color: b.$secondary-color b.$active-color;

      &::-webkit-scrollbar {
        height: b.rem(4);
      }

      &::-webkit-scrollbar-thumb {
        background-color: b.$active-color;
        border-radius: 100px;
      }
    }
  }

  &__entry {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: b.rem(16);
    border-radius: 15px;
    background-color: b.$secondary-color;
    box-shadow: b.$box-shadow;
    transition: all 0.2s;

    @include b.media-md {
      flex-basis: calc(33% - b.rem(6));
      flex-shrink: 0;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: b.$box-shadow-hover;
    }

    .time {
      color: b.$primary-text-color;
      font-size: b.rem(16);
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: b.rem(12);
    }
  }

  &__info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    img {
      width: 50%;

      @include b.media-lg {
        width: 40%;
      }
    }

    span {
      color: b.$primary-text-color;
      font-size: b.rem(14);
      font-weight: 400;

      @include b.media-lg {
        font-size: b.rem(12);
      }
    }
  }

  .pagination {
    display: flex;
    width: 10%;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 100px;
    margin-top: auto;
    @include b.media-md {
      margin-bottom: b.rem(12);
      width: 20%;
    }

    &__button {
      width: b.rem(6);
      height: b.rem(6);
      border-radius: 50%;
      background-color: b.$secondary-color;
      cursor: pointer;
      border: none;

      &:hover {
        transform: scale(1.05);
        background-color: b.$active-color;
      }

      &--active {
        transform: scale(1.05);
        background-color: b.$active-color;
      }
    }
  }
}
